In [149]:
import pandas as pd
from bokeh.plotting import figure, output_file, show, output_notebook

In [27]:
import matplotlib.pyplot as plt 
import numpy as np
%matplotlib inline

In [53]:
df = pd.read_csv('data/by_month.csv')

In [54]:
# remove total column 
df.drop('Total', axis= 1, inplace=True)

In [55]:
df

,Year,Jan,Feb,Mar,Apr,May,Jun,July,Aug,Sep,Oct,Nov,Dec
0,1992,12560,20331,24792,20295,11380,7264,12708,20198,18442,33834,25862,20113
1,1993,14147,18164,25200,14594,9355,8536,9076,16671,18293,34415,23715,18039
2,1994,14795,19794,24856,19778,12244,8561,13352,20524,21289,30063,20556,18179
3,1995,15758,19482,25381,23419,12491,9270,14141,20211,22344,38398,28177,17063
4,1996,17678,23629,31738,25458,14042,9777,13724,21833,23201,38139,29221,22661
5,1997,16856,24151,33389,24343,14836,9973,16024,24772,24344,46110,30712,22909
6,1998,20124,27855,33097,28997,15647,11195,15724,26387,29241,49787,38587,23814
7,1999,20554,29259,38158,29637,22305,12731,16782,29402,33650,54099,38835,25431
8,2000,21092,33939,38959,36430,18658,12036,16842,27205,34643,51100,45318,31509
9,2001,25158,32763,40684,32211,17406,8929,13965,21658,26132,37198,25795,15018
10,2002,13180,16960,25102,16877,11751,8338,9962,15515,18768,30251,24044,17943
11,2003,15659,19321,22260,20303,15288,7835,13607,19149,22577,38040,31750,25980
12,2004,22947,28743,35468,26279,15581,9776,17070,27657,21829,38104,29330,22187
13,2005,19531,17061,25847,18311,15438,11170,14921,26119,27413,40553,34778,27822
14,2006,21126,21320,30169,18435,13517,11841,15066,24966,26327,43026,37402,27009
15,2007,25857,33133,48022,32794,23296,18937,26160,37658,38813,65745,46822,33458
16,2008,30473,40334,51364,31952,19619,12922,18097,32084,33870,60938,47467,29980
17,2009,23969,34594,45950,34938,20362,17078,19942,36121,36241,65592,48667,32618
18,2010,28076,43289,56632,37208,21053,17967,24273,43172,44650,69982,57304,38363
19,2011,34541,48045,58455,49089,29692,25081,28875,55204,50560,86988,72436,47745
20,2012,42055,55301,72882,53745,30140,30084,34837,57590,4654,79536,74603,51850
21,2013,40296,58195,73434,53079,33295,28507,37666,57642,51912,77163,59630,45822

In [108]:
months = list(df.columns)
#months
year = list(range(1992, 2014,1))

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 13 columns):
Year    22 non-null int64
Jan     22 non-null int64
Feb     22 non-null int64
Mar     22 non-null int64
Apr     22 non-null int64
May     22 non-null int64
Jun     22 non-null int64
July    22 non-null int64
Aug     22 non-null int64
Sep     22 non-null int64
Oct     22 non-null int64
Nov     22 non-null int64
Dec     22 non-null int64
dtypes: int64(13)
memory usage: 2.3 KB

In [132]:
df_new = pd.melt(df, id_vars = 'Year', var_name='Month', value_name = 'Visitors')

In [133]:
df_new.sample(10)

     Year Month  Visitors
1    1993   Jan     14147
261  2011   Dec     47745
21   2013   Jan     40296
135  1995  July     14141
256  2006   Dec     27009
36   2006   Feb     21320
117  1999   Jun     12731
52   2000   Mar     38959
116  1998   Jun     11195
83   2009   Apr     34938

In [134]:
month_dict = {"Jan":1,"Feb":2,"Mar":3,"Apr":4, "May":5, "Jun":6,
     "July":7,"Aug":8,"Sep":9,"Oct":10,"Nov":11,"Dec":12}

In [135]:
def change_month(x):
    return month_dict[x]

In [136]:
df_new['Month'] = df_new['Month'].apply(change_month)

In [137]:
df_new.sample(10)

     Year  Month  Visitors
6    1998      1     20124
224  1996     11     29221
10   2002      1     13180
160  1998      8     26387
135  1995      7     14141
164  2002      8     15515
263  2013     12     45822
84   2010      4     37208
50   1998      3     33097
109  2013      5     33295

In [138]:
df_new['day'] = 1

In [139]:
df_new['date'] = pd.to_datetime(df_new[['Year', 'Month', 'day']])

In [143]:
data = df_new[['date', 'Visitors']]

In [145]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 2 columns):
date        264 non-null datetime64[ns]
Visitors    264 non-null int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 4.2 KB

In [154]:
TOOLS = 'crosshair,save,pan,box_zoom,reset,wheel_zoom'
p = figure(title="No of visitors by Time", y_axis_type="linear",x_axis_type='datetime', tools = TOOLS)

In [156]:
p.line(data['date'], data.Visitors, legend="visitors", line_color="purple", line_width = 3)
p.legend.location = "top_left"

p.xaxis.axis_label = 'Year'
p.yaxis.axis_label = 'number of visitors'

output_file("simple_plot.html", title="No of visitors in Nepal")

show(p)